<div class="header-container">
  <div class="inner">
    <img src="/assets/img_person.svg">
    <h1 class="primary-title">
      Antes de continuar, <span class="bold">te dejamos este mensaje.</span>
    </h1>
  </div>
</div>
<div class="disponibilidad-container">
  <label class="primary-label margin-60 block">
    Tu ahorro en <span class="bold">la AFP tiene como finalidad ser un soporte para tu futuro.</span>
  </label>
  <br />
  <br />
  <label class="primary-label">
    Ese dinero <span class="bold">es y será siempre tuyo y seguirá ganando rentabilidad</span> con el paso
    del tiempo. Cuídalo y retira solo lo que necesites en esta coyuntura.
  </label>
  <br />
  <br />
  <div class="button-entendido">
    <button [routerLink]="['/residente-aporte']" class="btn-primary margin-top-60" mat-flat-button color="primary">Entendido</button>
  </div>
</div>
