:host {
  width: 100%;

  .nombre-contacto {
    font-family: Roboto;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--afp-azul-primario);
    margin: 40px 0;
  }
  .monto-disponible-residente {
    margin: 40px auto;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 1px 20px 0 rgba(79, 107, 143, 0.1);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 40px 0;

    .amount-text {
      font-family: Roboto;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: 0.64px;
      text-align: left;
      color: var(--afp-dark);
      padding: 0 20px;
    }
    .amount {
      font-family: Roboto;
      font-size: 40px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: 1.6px;
      text-align: center;
      color: var(--afp-azul-primario);
    }

    .box {
      width: 35%;
      height: auto;
      padding: 10px;
      border-right: 1px solid var(--azul-gris-4-afp);
      &:last-child {
        border-right: 0;
      }
      &:first-child {
        margin: 0 auto;
      }
      .title-contacto {
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.64px;
        text-align: center;
        color: var(--afp-azul-sec);
        height: 40px;
        margin-bottom: 12px;
      }
      .montos-contacto {
        font-family: Roboto;
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 1.6px;
        text-align: center;
        color: var(--afp-azul-primario);
      }
    }
  }

  .retiro-fondo-pension {
    display: block;
    width: 100%;

    .title {
      display: block;
      text-align: left;
      width: 100%;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: 0.72px;
      text-align: left;
      color: var(--afp-dark);
    }

    .block-saldo-monto {
      display: flex;
      justify-content: space-between;
      margin: 24px 0;

      .block-saldo {
        display: flex;
        justify-content: space-between;
        border-radius: 8px;
        box-shadow: 0 1px 20px 0 rgba(79, 107, 143, 0.1);
        background-color: #ffffff;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-right: 20px;
        height: 60px;
        .title-saldo {
          font-family: Roboto;
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: 0.72px;
          text-align: left;
          color: var(--afp-azul-sec);
          margin-right: 24px;
        }
        .amount-saldo {
          font-family: Roboto;
          font-size: 32px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.88;
          letter-spacing: 0.2px;
          text-align: left;
          color: var(--azul-gris-afp);
        }
      }
      .block-monto {
        display: block;
        width: 50%;
        height: 58px;
        input {
          display: block;
          border-radius: 8px;
          border: solid 1px var(--afp-azul-sec);
          background-color: #ffffff;
          width: 90%;
          height: 58px;
          padding: 0 5%;
          font-family: Roboto;
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: 0.72px;
          text-align: left;
          color: var(--azul-gris-2-afp);
        }
        span {
          display: block;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: 0.2px;
          text-align: left;
          color: var(--afp-dark);
          margin: 5px 15px;
        }
      }
    }
  }

  .info-retiro {
    border-radius: 8px;
    background-color: var(--afp-lightblue-sec);
    padding: 30px 37px;
    margin: 24px 0;
    display: inline-block;
    text-align: left;
    .icono-info {
      display: inline-block;
      vertical-align: top;
      margin-right: 2%;
    }
    p {
      display: inline-block;
      vertical-align: top;
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: 0.2px;
      text-align: left;
      color: var(--afp-dark);
      width: 94%;
    }
  }
  .mantener-saldo {
    margin: 56px 0;
    text-align: left;
    .title-saldo {
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: 0.72px;
      text-align: left;
      color: var(--afp-dark);
    }
    .group-radio {
      margin: 27px 0;
      .mat-radio-button {
        padding: 0 10px;
      }
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 0.64px;
      text-align: left;
      color: var(--afp-dark);
    }
    .input-hidden {
      .mat-form-field {
        margin: 0 15px;
      }
    }
  }
  .options-lugar-residencia {
    width: 100%;
    margin: 21px 0;
    text-align: left;
    display: flex;
    flex-flow: wrap;
    .select-width {
      width: 45%;
      margin-right: 5%;

      &:last-child {
        margin-right: 0;
      }

      select {
        border-radius: 8px;
        border: solid 1px var(--afp-azul-sec);
        padding: 15px 24px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 0.72px;
        text-align: left;
        color: var(--charcoal-grey);
        box-sizing: border-box;
      }
    }
    .input-width {
      width: 45%;
      margin-right: 5%;

      &:last-child {
        margin-right: 0;
      }

      .info-cuenta {
        position: absolute;
        bottom: -18px;
        left: 0;
        font-size: 11px;
      }

      input {
        border-radius: 8px;
        border: solid 1px var(--afp-azul-sec);
        padding: 18px 24px;
        box-sizing: border-box;
      }
    }
  }
  table {
    border-collapse: collapse;
    border-radius: 8px;
    width: 80%;
    text-align: left;
    margin: 40px auto;
    th {
      padding: 20px;
    }
    td {
      padding: 20px;
    }
    border: solid 2px var(--afp-lightblue-sec);
    tr:nth-child(even) {
      background: #fff;
    }
    tr:nth-child(odd) {
      background: var(--afp-lightblue-sec);
    }
  }
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1
  }
}

.rp-form-element {
  padding: 0 10px;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    width: 95%;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .nombre-contacto {
    font-size: 22px !important;
    height: auto !important;
  }

  table {
    font-size: 13px !important;
  }
}