<p class="modal-tittle">Bienvenido</p>
<mat-divider></mat-divider>
<br>
<mat-dialog-content class="mat-typography">
  <p>
    De acuerdo con lo dispuesto por el Gobierno, como afiliado al Sistema Privado de Pensiones (SPP) puedes realizar
    el <strong>retiro extraordinario</strong> de hasta S/2,000 de tu fondo obligatorio en la AFP (D.U. N° 038-2020).
  </p>
  <p>
    <strong>Ha vencido el plazo</strong> para registrar las solicitudes de retiro de hasta S/2,000 para el Decreto de Urgencia N°
    034-2020 y para los grupos del 1 al 4, según el Decreto de Urgencia N°038-2020.
  </p>
  <p>
    Podrás registrar tu solicitud <strong>únicamente</strong> si el Ministerio de Trabajo y Promoción del Empleo (MTPE) ha
    comunicado formalmente a la AFP tu condición laboral (suspensión perfecta de labores).
  </p>
  <p>
    La entrega del monto retirado se hará en una sola armada. En caso de tener en curso una solicitud de retiro de
    hasta el 25% del fondo, luego del desembolso de la primera armada de tu solicitud de dicho retiro, se procederá
    con la atención de tu solicitud de retiro de hasta S/2,000 del fondo<sup>(1)</sup>.
  </p>
  <p>
    Ten en consideración que la atención en simultáneo de una solicitud de retiro de hasta S/2,000 (D.U. N°038-2020)
    y una solicitud de hasta el 25% de tu fondo (Ley N°31017) pueden afectar los montos a pagar para la
    primera y/o segunda armada, según corresponda.
  </p>
  <p>
    Puedes ingresar en el horario de <strong>lunes a viernes de de 8:00 a.m. a 8:00 p.m.</strong> para confirmar si tu AFP recibió la
    aprobación de tu solicitud de suspensión perfecta de labores y registres tu solicitud de retiro de hasta S/2,000.
  </p>
  <p>
    <strong>Recuerda que solo puedes presentar <u>una</u> solicitud de retiro de hasta S/2,000.</strong>
  </p>
  <br>
  <p class="legend">
    <span>
      (1)	Artículo tercero de la Resolución SBS N° 1352-2020
    </span>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button class="primary-btn" mat-raised-button mat-dialog-close color="primary">Continuar</button>
</mat-dialog-actions>
