.logos-container {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--afp-ligh);
  align-items: center;
}

.logo {
  width: 120px;
  margin: 24px 16px;
  vertical-align: top;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    width: 80px;
    margin: 14px 8px 0;
  }
}
