<div class="main">
  <div class="img-container">
    <img class="logo-main undraggable" src="/assets/AAFP.png" />
  </div>

  <!-- <h1 class="primary-title">Retiro de acuerdo a Ley Nº 31068</h1>
  <br /> -->
  <div class="info-container">
    <div class="option-container">
      <label class="options-label-big">Retiro de hasta 4 UIT (S/ 17,600)</label
      ><br />
      <br />
      <label class="options-label">(afiliado sin aportes)</label>
    </div>
    <div class="info-label">
      <p>
        De acuerdo con lo dispuesto por la <b>Ley Nº 31068 </b>y la
        <b>Resolución SBS N° 2979-2020</b>, como afiliado al Sistema Privado de
        Pensiones (SPP) podrás realizar un retiro de tu fondo de pensiones si
        cumples con alguna de las siguientes condiciones:
      </p>
      <ul>
        <li>
          <strong>Retiro de hasta 4 UIT (S/ 17,600)</strong>, si no tienes
          aportes acreditados al 31 de octubre, por los meses de octubre de
          2019 a septiembre de 2020, y no accedes al REJA (Régimen de
          Jubilación Anticipada por Desempleo). El pago se hará hasta en 3 armadas,
          según el monto que definas retirar, o alternativamente
        </li>
        <li>
          <strong>Retiro de hasta 1 UIT</strong>, si no tienes aportes
          acreditados al 31 de octubre por los descuentos en tu sueldo del mes
          de setiembre de 2020. El pago se hará en una sola armada.
        </li>
      </ul>

      <p>
        Recuerda que solo puedes presentar una solicitud de retiro y que todos
        los datos que registres deben ser personales.
      </p>

      <p>
        El pago de todas las armadas se realizará con la UIT vigente a la fecha
        de la presentación de la solicitud.
      </p>
      <p>
        Si tienes una solicitud de traspaso en curso, esta no se verá afectada.
        Las AFP de origen y destino coordinarán el cronograma de tus pagos.
      </p>
      <p>
        Si presentas una solicitud de Retiro de hasta 4 UIT y ya tienes un
        trámite de nulidad de afiliación o un trámite de desafiliación en curso, la AFP registrará el
        desistimiento del trámite en forma automática.
      </p>
      <p>
        Si tienes en curso una solicitud de Retiro de hasta 4 UIT y presentas
        un trámite de nulidad de afiliación o un trámite de desafiliación, deberás restituir el saldo (en
        cuotas) con posterioridad al retiro. El monto a restituir podría ser
        mayor al retirado.
      </p>
      <p>
        Si tienes en curso un trámite de Retiro de hasta 25% para un crédito
        hipotecario, sin conformidad de la entidad financiera, y presentas una
        solicitud de Retiro de hasta 4 UIT, el monto que retires afectará el valor
        del fondo que deberá tomarse para el Retiro de hasta 25%.
      </p>
      <p>
        Los montos de retiro podrían estar afectos a retenciones por deudas
        alimentarias hasta por un 30%, las mismas que serán ejecutadas al
        momento de realizar el cargo en la cuenta de la AFP.
      </p>
      <p>
        El monto a retirar dependerá del saldo de tu fondo al momento de
        realizar cada desembolso. La AFP realizará el primer desembolso en un
        plazo máximo de 30 días de presentada la solicitud.
      </p>
      <p>
        Podrás presentar el desistimiento de tu solicitud de retiro ante tu AFP, hasta 10 días
        antes de que la AFP realice el desembolso.
      </p>
      <p>
        Puedes ingresar tu solicitud según el cronograma,
        <b> de lunes a viernes de 8:00 a.m. a 8:00 p.m.</b>
      </p>
      <p>
        Finalizado el cronograma, el registro será libre hasta el plazo de vigencia de la norma.
      </p>
    </div>
  </div>
</div>

<app-dates-table></app-dates-table>
<div class="main">
  <label class="primary-label margin-60 block">
    Recuerda que necesitas tener una cuenta en alguno de los siguientes bancos
    para presentar tu solicitud y recibir el pago de tu retiro:
  </label>
  <div class="bank-container">
    <label class="bank-label"><a target="_blank" href="https://www.bbva.pe/personas/productos/cuentas/ahorro/abrir-cuenta-ahorros.html">BBVA</a></label>
    <label class="bank-label"><a target="_blank" href="https://www.viabcp.com/retirar-afp">BCP </a></label>
    <label class="bank-label"><a target="_blank" href="Https://interbank.pe/solicitar/cuenta/simple/inicio?mcid=emailing:mail:00-00-0000_cuenta-simple:email:mayo:email-AAFP">Interbank </a></label>
    <label class="bank-label"><a target="_blank" href="https://www.scotiabank.com.pe/Personas/Ahorros/Cuentas-Bancarias/cuenta-intangible?utm_source=afpweb&utm_medium=afpweb&utm_campaign=afpweb">Scotiabank </a></label>
    <label class="bank-label"><a target="_blank" href="https://www.banbif.com.pe/personas/CuentaConvenientemoneda">BanBif</a></label>
    <label class="bank-label"><a target="_blank" href="https://cuentadigital.bancomercio.com/inicio">Banco de Comercio </a></label>
    <label class="bank-label"><a target="_blank" href="https://www.bancognb.com.pe/">Banco GNB </a></label>
    <label class="bank-label"> <a target="_blank" href="https://www.bancoripley.com.pe/">Banco Ripley </a></label>
    <label class="bank-label"><a target="_blank" href="https://www.cajahuancayo.com.pe/">Caja Huancayo </a></label>
    <label class="bank-label"><a target="_blank" href="https://www.cajasullana.pe/">Caja Sullana </a></label>
  </div>
  <!-- <label class="alternative-label">Entidades en las que necesitas tu código interbancario
    (CCI)</label> -->
  <!--  <div class="bank-container">
    <label class="bank-label">Banco del Comercio</label>
    <label class="bank-label">Banco Falabella</label>
    <label class="bank-label">Banco GNB</label>
    <label class="bank-label">Caja Arequipa</label>
    <label class="bank-label">Caja Metropolitana</label>
    <label class="bank-label">Caja Municipal Ica</label>
    <label class="bank-label">Caja Piura</label>
    <label class="bank-label">Caja Sullana</label>
    <label class="bank-label">Caja Tacna</label>
    <label class="bank-label">Caja Trujillo</label>
  </div> -->
  <!-- <label class="alternative-label">
    Si no cuentas con tu CCI, puedes obtenerlo haciendo click <span class="link">aqui</span>
  </label> -->
</div>
<div class="accede-container">
  <!--  <label class="primary-label">Accede al retiro de acuerdo a <b>Ley Nº 31068</b></label>
  <br /> -->
  <button
    [routerLink]="['/consulta']"
    class="btn-primary"
    mat-flat-button
    color="primary"
  >
    Iniciar solicitud
  </button>
</div>
<app-afp-banner></app-afp-banner>
