$color-text: #222;
$color-white: #fff;
$color-primary: #18a0c2;
$color-rpimary-2: #2c92ab;
$color-primary-light: rgba(151, 246, 249, 0.2);
$color-warning: #fdda6e;
$color-warning-light: rgba(255, 238, 186, 0.2);
$color-error: #f44336;
$color-error-light: rgba(244, 67, 54, 0.2);
$color-success: rgb(131, 200, 14);
$color-success-light: rgba(131, 200, 14, 0.2);
