<div class="header-container">
  <div class="inner">
    <img src="/assets/img_person.svg">
    <h1 class="primary-title">
      <span class="bold">Traslada tu retiro </span> a una cuenta de aportes voluntarios de libre disponibilidad en tu AFP
    </h1>
  </div>
</div>
<div class="main">
  <label class="primary-label margin-60 block">
    Tu ahorro en <span class="bold">la AFP tiene como finalidad ser un soporte para tu futuro.</span><br>
  <!-- </label>
  <label class="primary-label"> -->
    Ese dinero <span class="bold">es y será siempre tuyo y seguirá ganando rentabilidad</span> con el paso
    del tiempo. Cuídalo y retira solo lo que necesites en esta coyuntura.
  </label>
  <label class="alternate-label margin-top-50 block">
    Te brindamos la opción de <span class="bold">trasladar tu retiro a una cuenta de aportes voluntarios de libre disponibilidad</span> en tu AFP, independiente de tu fondo obligatorio, y <span class="bold">haz crecer tu dinero, según el tipo de fondo elegido,
hasta 11%(*) al año.</span> Estos son los beneficios:
   </label>
  <div class="beneficios-container">
    <div class="beneficios">
      <img src="/assets/icon_rentabilidad.svg">
      <label class="beneficios-label">Gana la misma <span class="bold">rentabilidad</span> que en un fondo obligatorio.
      </label>
    </div>
    <div class="beneficios">
      <img src="/assets/icon_retira.svg">
      <label class="beneficios-label">Retira <span class="bold">lo que necesites cuando quieras</span> y las veces que
        quieras.
      </label>
    </div>
    <div class="beneficios">
      <img src="/assets/icon_independiente.svg">
      <label class="beneficios-label">Esta cuenta es <span class="bold">independiente</span> de tu fondo con fin
        previsional.
      </label>
    </div>
    <div class="beneficios">
      <img src="/assets/icon_seguimiento.svg">
      <label class="beneficios-label"><span class="bold">Hazle seguimiento</span> a tu cuenta desde la aplicación o web
        de tu AFP.
      </label>
    </div>
  </div>
  <br />
  <p class="condition">(*) Rentabilidad nominal anual promedio del Sistema Privado de Pensiones desde 1992.</p>
  <button [routerLink]="['/residente-aporte']" class="btn-primary margin-top-60" mat-flat-button color="primary">Entendido</button>
</div>
