.group-date-inputs { 
  border:2px solid;
  border-radius: 8px;
  height: 48px;
  position: relative;
  display: flex;
}

.material-input-date  {
//   background-color: red;
  font-size:14px;
//   max-width: 2.8em;
//   padding:10px 10px 10px 5px;
  border:none;
  height: 44px;
  color: #696158;
  padding-right: 0px;
//   padding-left: 15px; 
//   margin-left: 15px; 
  border-radius: 8px;
  text-align:center;
  display: flex;
  flex: 5;
  &:focus {
    outline:none;
  }
}

.material-input-date-label                {
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:15px;
  top:13px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  width: 90%;
}

.label-text-date {
  background-color: white;
  white-space: nowrap;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.show-label {
  top:-7px;
  font-size:12px;
  font-weight: 600;
}

.year-input {
  width: auto;
  background-color: transparent;
  text-align: left;
  padding-left: 12px;
}

::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    position: absolute;
    right: 0;
}

.material-input-date::-ms-reveal,
.material-input-date::-ms-clear {
        display: none;
}

.date-input::-webkit-input-placeholder { color: #9d9994; }  
.date-input:-moz-placeholder { color: #9d9994; }  
.date-input::-moz-placeholder { color: #9d9994; }  
.date-input:-ms-input-placeholder { color: #9d9994; }  
.date-input::-ms-input-placeholder { color: #9d9994; }  

.material-input-date::-webkit-outer-spin-button,
.material-input-date::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.material-input-date[type=number] {
  -moz-appearance: textfield;
}