@font-face {
  font-family: 'Calibri';
  src: url('global/fonts/calibri/Calibri.woff2') format('woff2'),
    url('global/fonts/calibri/Calibri.woff') format('woff'), url('global/fonts/calibri/Calibri.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Calibri';
  src: url('global/fonts/calibri/CalibriB.woff2') format('woff2'),
    url('global/fonts/calibri/CalibriB.woff') format('woff'), url('global/fonts/calibri/CalibriB.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Calibri';
  src: url('global/fonts/calibri/CalibriI.woff2') format('woff2'),
    url('global/fonts/calibri/CalibriI.woff') format('woff'), url('global/fonts/calibri/CalibriI.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Calibri';
  src: url('global/fonts/calibri/CalibriL.woff2') format('woff2'),
    url('global/fonts/calibri/CalibriL.woff') format('woff'), url('global/fonts/calibri/CalibriL.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Calibri';
  src: url('global/fonts/calibri/CalibriZ.woff2') format('woff2'),
    url('global/fonts/calibri/CalibriZ.woff') format('woff'), url('global/fonts/calibri/CalibriZ.ttf') format('ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-Thin.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-Thin.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-Thin.otf') format('ttf');
  font-weight: 50;
  font-style: normal;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-ThinItalic.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-ThinItalic.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-ThinItalic.otf') format('ttf');
  font-weight: 50;
  font-style: italic;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-ExtraLight.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-ExtraLight.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-ExtraLight.otf') format('ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-ExtraLightItalic.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-ExtraLightItalic.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-ExtraLightItalic.otf') format('ttf');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-Light.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-Light.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-Light.otf') format('ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-LightItalic.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-LightItalic.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-LightItalic.otf') format('ttf');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-Book.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-Book.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-Book.otf') format('ttf');
  font-weight: 250;
  font-style: normal;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-BookItalic.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-BookItalic.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-BookItalic.otf') format('ttf');
  font-weight: 250;
  font-style: italic;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-Regular.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-Regular.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-Regular.otf') format('ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-Italic.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-Italic.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-Italic.otf') format('ttf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-Core.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-Core.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-Core.otf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-CoreItalic.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-CoreItalic.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-CoreItalic.otf') format('ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-Medium.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-Medium.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-Medium.otf') format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-MediumItalic.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-MediumItalic.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-MediumItalic.otf') format('ttf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-SemiBold.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-SemiBold.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-SemiBold.otf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-SemiBoldItalic.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-SemiBoldItalic.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-SemiBoldItalic.otf') format('ttf');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-Bold.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-Bold.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-Bold.otf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-BoldItalic.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-SemiBoldItalic.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-SemiBoldItalic.otf') format('ttf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-ExtraBold.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-ExtraBold.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-ExtraBold.otf') format('ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-ExtraBoldItalic.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-ExtraBoldItalic.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-ExtraBoldItalic.otf') format('ttf');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-Heavy.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-Heavy.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-Heavy.otf') format('ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'FS Emeric';
  src: url('global/fonts/fsemeric/FSEmeric-HeavyItalic.woff2') format('woff2'),
    url('global/fonts/fsemeric/FSEmeric-HeavyItalic.woff') format('woff'),
    url('global/fonts/fsemeric/FSEmeric-HeavyItalic.otf') format('ttf');
  font-weight: 800;
  font-style: italic;
}
