<h2>Reactive: <small>Dinámicos</small></h2>
<hr>

<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <!-- Nombre -->
    <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input  class="form-control" 
                    formControlName="nombre"
                    placeholder="Nombre de la persona">
            <span   class="form-text text-danger"
                    *ngIf="campoEsValido('nombre')">
                Este campo es obligatorio
            </span>

        </div>
    </div>

    <!-- Favoritos -->
    <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input  class="form-control"
                        formControlName="juego"
                        placeholder="Agregar juego favorito"
                        (keyup.enter)="a=1"
                        >
                <button class="btn btn-outline-primary"
                        type="button">
                    Agregar
                </button>

            </div>
        </div>
    </div>

    <!-- Lista de favoritos -->
    <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="input-group mb-1"
                 formArrayName="favoritos">                
                <input  *ngFor="let favorito of miFormulario.controls.favoritos.controls"
                        class="form-control">
                <button class="btn btn-outline-danger"
                        type="button">
                    Borrar
                </button>
            </div>
        </div>
    </div>

    <!-- Botón guardar -->
    <div class="row">
        <div class="col-sm-12">
            <button type="submit" 
                    class="btn btn-primary float-end" 
                     >
                Guardar
            </button>
        </div>
    </div>
</form>

<!-- <span>Persona</span>
<pre>{{persona | json}}</pre> -->

<span>Valido</span>
<pre>{{ miFormulario.valid }}</pre>

<span>Pristino</span>
<pre>{{ miFormulario.pristine }}</pre>

<span>Touched</span>
<pre>{{ miFormulario.touched }}</pre>

<span>miFormulario</span>
<pre>{{ miFormulario.value | json }}</pre>
