.message-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.message {
  padding-top: 24px;
  font-size: 14px;
  color: #222;
  line-height: 1.3;
  text-align: center;
  width: 100%;

  .title {
    font-size: 18px;
    color: rgb(0, 157, 146);
  }
}

.msg-container {
  text-align: left;
  padding: 15px;
  border-radius: 10px;

  .msg {
    font-size: 13px;
    line-height: 1.5;
  }
}

.actions-container {
  padding: 24px 0;
}

.information {
  display: flex;
  justify-content: center;
  background: #f4f6f8;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  color: #696158;
}
.description {
  display: flex;
  flex-direction: column;
  flex: 1;
  & > p {
    color: #00ae99;
  }
}
.detail {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex: 2;
}
.image {
  background: url("/assets/img/notificationrequest.png") no-repeat;
  flex: 1;
  margin-left: 10px;
}
