.group { 
  border:2px solid #D6D6D6;
  border-radius: 8px;
  height: 48px;
  position: relative;
  display: flex;
}

.dropdown-input  {
  font-size:14px;
  padding:10px 10px 10px 5px;
  width: 80%;
  border: none;
  height: 44px;
  color: #696158;
  padding-right: 0px;
  padding-left: 15px; 
  border-left-style: solid;
  border-left-width: 2px;
  display: flex;
  flex: 5;
  &:focus {
    outline:none;
  }
}

.dropdown-input:required {
    box-shadow:none;
}

.dropdown-input::-webkit-input-placeholder { color: #9d9994; }  
.dropdown-input:-moz-placeholder { color: #9d9994; }  
.dropdown-input::-moz-placeholder { color: #9d9994; }  
.dropdown-input:-ms-input-placeholder { color: #9d9994; }  
.dropdown-input::-ms-input-placeholder { color: #9d9994; }  

::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    position: absolute;
    right: 0;
}
