<div class="message-container">
  <div class="message" style="text-align: left;">
    <span
      >La <b>cuenta de aportes voluntarios de libre disponibilidad</b> está conformada por los aportes
      voluntarios <b>Sin Fin Previsional</b>, la cual es una buena opción para cuidar
      tu dinero, que te permite:
    </span>
    <ul>
      <li>
        Ahorrar en una cuenta personal distinta a la de tu Fondo de Pensiones.
      </li>
      <li>
        Disponer de tu dinero cuando desees, ya que no tiene restricciones de
        retiro.
      </li>
      <li>Generar mayor valor a tu dinero ahorrado.</li>
    </ul>
  </div>
</div>

<mat-dialog-actions class="btn-container">
  <button
    class="primary-btn"
    mat-raised-button
    mat-dialog-close
    color="primary"
    (click)="back()"
  >
    Volver
  </button>
</mat-dialog-actions>
