.checkbox-list-procedure {
  width: 150px;
}

.menu-buttons {
  min-width: 880px;
  padding: 15px 0;
}

.mt {
  margin-top: 25px;
}

.card-body {
  background-color: #fff;
  border-radius: 14px;
  padding: 20px 40px;
}

.container-loading {
  justify-content: center;
  width: 100%;
}