<div class="message-container">
  <div class="message-title">
    <h1 class="title">Afiliado o Código de Trámite no identificado</h1>
    <p>
      Verifica los datos, es posible que alguno estuviera errado o valida a qué
      AFP perteneces haciendo
      <span (click)="redirectSbs()">click aquí. </span>
    </p>
  </div>
  <div class="button">
    <button
      class="action-button"
      mat-raised-button
      color="primary"
      (click)="exit()"
    >
      Entendido
    </button>
  </div>
</div>
