.radio-button-container {
    width: 60%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.7em;
    padding-top: 0.4em;
    margin-left: -7px;
    @media screen and (max-width: 425px) {
      grid-template-columns: auto;
      row-gap: 1.2em;
    }
  }