<!-- <div class="text-layout">
    <h1>{{'Hola Mundo' | uppercase }}</h1>
    <h1>{{ valor | number }}</h1>
    <h1>{{ obj | json }}</h1>
</div>

<button pButton 
        class="p-button-help"
        (click)="mostrarNombre()" 
        label="Cambiar nombre"
        icon="pi pi-bell"
        iconPost="left">
</button>

<p-card [header]="title | titlecase"
        subheader="Esto es un subheader"> -->
    <!-- <ng-template pTemplate="header">
        Header content here
    </ng-template>
    Body Content -->
    <!-- <ng-template pTemplate="footer">
        Footer content here
    </ng-template> -->
    <!-- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur cum soluta minima eligendi, perferendis delectus omnis eum at facilis, vero laudantium aperiam voluptatum repellat sed, aliquam quos exercitationem quaerat sint.
</p-card> -->

<p-menubar ></p-menubar>