<router-outlet></router-outlet>

<div class="container">
    <div class="row vh-100">
        <div class="col-3 bg-dark">
            <h3 class="text-white">Menú</h3>
        </div>
        <div class="col-9">
            <h2>Formulario de Validación</h2>
            <form action="" class="form">
                <div class="form-group">
                    <label for="" class="label">Nombre</label>
                    <input type="text" class="form-control">
                    <span class="text-danger">Debe tener 3 caracteres o más </span>
                </div>
                <div class="form-group">
                    <label for="" class="label">Edad</label>
                    <input type="number" class="form-control">
                    <span class="text-danger">Debe ser mayor de 18 </span>
                </div>
                <button class="btn btn-primary float-right">
                    Enviar
                </button>
            </form>
        </div>
        </div>
</div>