// Falta hacer la importación de las variables de medidas

.responsiveElementInputSize {
  width: 300px;
    @media screen and (max-width: 425px) {
        width: 270px;
    }
    @media screen and (max-width: 374px) {
        width: 250px;
    }
    @media screen and (max-width: 320px) {
        width: 220px;
    }
    @media screen and (max-width: 280px) {
        width: 200px;
    }
}

.responsiveElementInputSizeM {
    width: 300px;
    @media screen and (max-width: 960px)  {
      width: 450px;
    }
    @media screen and (max-width: 767px)  {
      width: 400px;
    }
    @media screen and (max-width: 600px)  {
      width: 330px;
    }
    @media screen and (max-width: 425px)  {
      width: 260px;
    }
    @media screen and (max-width: 374px)  {
      width: 250px;
    }
    @media screen and (max-width: 320px) {
        width: 220px;
    }
    @media screen and (max-width: 280px) {
        width: 200px;
    }
}

.inputBigResponsive {
    margin: 0.6em 0; 
    @extend .responsiveElementInputSizeM;
}


.inputRegularResponsive {
    margin: 0.6em 0; 
    @extend .responsiveElementInputSize;
}

.inputRegularResponsiveM {
    @extend .inputBigResponsive;
    margin: 0.9em 0;
}

.display-desktop {
  @media screen and (max-width: 960px)  {
    display: none;
  }
}

.display-mobile {
  display: none;
  @media screen and (max-width: 960px)  {
    display: block;
  }
}

.marginBtnRegularPosition {
  margin-top: 2.8em;
  @media screen and (max-width: 960px)  {
    margin-top: 1.5em;
  }
}

.buttonRegularResponsive {
  @extend .marginBtnRegularPosition;
  width: 296px;
  @media screen and (max-width: 767px)  {
    width: 360px;
  }
  @media screen and (max-width: 600px)  {
    width: 302px;
  }
  @media screen and (max-width: 425px)  {
    width: 240px;
  }
  @media screen and (max-width: 374px)  {
    width: 220px;
  }
}

.buttonSmallResponsive {
  @extend .marginBtnRegularPosition;
  width: 296px;
  @media screen and (max-width: 960px)  {
    width: 220px;
  }
   @media screen and (max-width: 767px)  {
    width: 70%;
  }
  @media screen and (max-width: 600px)  {
    width: 60%;
  }
  @media screen and (max-width: 425px)  {
   width: 55%;
  }
}

// export const size = {
//   mobileXS: '280px',
//   mobileS: '320px',
//   mobileM: '374px',
//   mobileL: '425px',
//   tabletS: '600px',
//   tablet: '767px',
//   tabletM: '960px',
//   laptop: '1023px',
//   laptopL: '1365px',
//   laptopM: '1679px',
//   desktop: '2559px',
// }

.modalBtn {
  width: 296px;
  margin-top: 2em;
  align-self: center;
  @media screen and (max-width: 767px)  {
    width: 360px;
  }
  @media screen and (max-width: 600px)  {
    width: 302px;
  }
  @media screen and (max-width: 425px)  {
    width: 240px;
  }
  @media screen and (max-width: 374px)  {
    width: 220px;
  }
}

.textCenter {
    text-align: center;
}

.alignSelfCenter {
  align-self: center;
}

.pt1em {
  padding-top: 1em;
}

.pt2em {
    padding-top: 2em;
}

.pt4em {
    padding-top: 4em;
}

.pb1em {
    padding-bottom: 1em;
}

.pb2em {
    padding-bottom: 2em;
}

.pb4em {
    padding-bottom: 4em;
}

.mt1em {
  margin-top: 1em;
}

.mt2em {
  margin-top: 2em;
}

.capitalize {
  text-transform: uppercase;
}

.alignCenterVertically {
  display: flex;
  justify-content: center;
}

.radio-button-container {
  width: 60%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.7em;
  padding-top: 0.4em;
  margin-left: -7px;
  @media screen and (max-width: 425px) {
    grid-template-columns: auto;
    row-gap: 1.2em;
  }
}

.primary-btn {
  background-color: #ff4f00;
  color: #ffffff;
  &:disabled {
    background-color: #bbbbbb;
  }
  &:focus {
    outline:none;
  }
}

.primary-outlined-btn {
  border: 2px solid #ff4f00;
  color: #ff4f00;
  background-color: #ffffff;
  &:disabled {
    border: 2px solid #bbbbbb;
    color: #bbbbbb;
  }
  &:focus {
    outline:none;
  }
}

.width-100 {
  width: 100%;
}