.modal-title {
  text-align: center;
  font-family: FS Emeric;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
}

.color-green {
  color: #00a499;
}

.mr-top {
  margin-top: 40px;
}

.px {
  padding: 0 140px;
}

.jc-center {
  justify-content: center;
}

.text-modal {
  color: #696158;
}

.button-outline {
  background-color: #fff;
  border: 2px solid #FF4F00;
  color: #FF4F00;
  &:hover {
    background-color: #fff;
  }
}