<div class="message-container">
  <div class="message-icon">
    <mat-icon>announcement</mat-icon>
  </div>
  <div class="message">
     <span>Sí accedes al retiro.</span>
    <br><br>
    <span>Te encuentras bloqueado por validación de identidad, en 24 horas puedes intentar de nuevo.</span>
    <br>
  </div>
</div>

<mat-dialog-actions class="btn-container">
  <button class="btn action-button" mat-raised-button color="primary" disabled>Registrar Solicitud</button>
  <button class="btn" mat-button (click)="back()">Volver</button>
</mat-dialog-actions>
