/* Custom properties */

:root {
  --tooltip-text-color: #696158;
  --tooltip-light-text-color: #ffffff;
  --tooltip-dark-background-color: #696158;
  --tooltip-background-color: #f1f5ff;
  --tooltip-margin: 30px;
  --tooltip-arrow-size: 15px;
}

.Tooltip-Wrapper {
  display: inline-block;
  position: relative;
}

.Tooltip-Tip {
  position: absolute;
  width: 34vw;
  border-radius: 4px;
  left: 50%;
  transform: translate(-7%, -100%);
  font-size: 14px;
  font-family: sans-serif;
  z-index: 100;
  border-radius: 8px;
 @media screen and (max-width: 1023px)  {
        width: 50vw;
    }
    @media screen and (max-width: 767px)  {
        width: 70vw;
    }
    @media screen and (max-width: 600px)  {
         width: 87vw;
    }
}

.light-bubble {
  padding: 2em 3em;
  color: var(--tooltip-text-color);
  background: var(--tooltip-background-color);
}

.dark-bubble {
  padding: 1.6em 2.2em;
  color: var(--tooltip-light-text-color);
  background: var(--tooltip-dark-background-color);
  opacity: 0.8;
}

.Tooltip-Tip::before {
  content: " ";
  left: 7%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: var(--tooltip-arrow-size);
  margin-left: calc(var(--tooltip-arrow-size) * -1);
}

.Tooltip-Tip.top {
  top: calc(var(--tooltip-margin) * -0.7);
}

.Tooltip-Tip.top::before {
  top: 100%;
}

.light-bubble.top::before {
  border-top-color: var(--tooltip-background-color);
}

.dark-bubble.top::before {
  border-top-color: var(--tooltip-dark-background-color);
}

.Tooltip-Tip.right {
  left: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}

.Tooltip-Tip.right::before {
  left: calc(var(--tooltip-arrow-size) * -1);
  top: 50%;
  transform: translateX(0) translateY(-50%);
}

.light-bubble.right::before {
  border-right-color: var(--tooltip-background-color);
}

.dark-bubble.right::before {
  border-right-color: var(--tooltip-dark-background-color);
  opacity: 0.8;
}

.Tooltip-Tip.bottom {
  bottom: calc(var(--tooltip-margin) * -1);
}

.Tooltip-Tip.bottom::before {
  bottom: 100%;
}

.light-bubble.bottom::before {
  border-bottom-color: var(--tooltip-background-color);
}

.dark-bubble.bottom::before {
  border-bottom-color: var(--tooltip-dark-background-color);
  opacity: 0.8;
}

.Tooltip-Tip.left {
  left: auto;
  right: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}

.Tooltip-Tip.left::before {
  left: auto;
  right: calc(var(--tooltip-arrow-size) * -2);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left-color: var(--tooltip-background-color);
}

.light-bubble.left::before {
  border-left-color: var(--tooltip-background-color);
}

.dark-bubble.left::before {
  border-left-color: var(--tooltip-dark-background-color);
  opacity: 0.8;
}
