* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
}

h1{
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
}

h1::after{
    background: darkblue;
    width: 100%;
    content: '';
    height: 6px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
}

.contenedor-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


img{
    /* flex-basis: 30%; */
    width: 30%;
    object-fit: cover;
    margin: 10px 0;
    display: block;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1000px){
    img{
        width: 40%;
    }
}

@media screen and (max-width: 700px){
    img{
        width: 90%;
    }
}