/pruebas/E2E_Testing_with_Puppeteer_Starter-master/node_modules
/pruebas/finalfinal/node_modules
/pruebas/finalll/node_modules
/pruebas/my-app/node_modules
/pruebas/my-dream-app/node_modules
/pruebas/precommit-schema/node_modules
/pruebas/proy-cero/node_modules
/pruebas/proy-con-jest-orig/node_modules
/pruebas/proy-uno/node_modules
/pruebas/proyecto2/node_modules
/pruebas/prueb/node_modules
/pruebas/prueba-jest/node_modules
/pruebas/prueba-schematics/node_modules
/pruebas/pupi/node_modules
/pruebas/repo/node_modules
/pruebas/schematics-jest-puppeteer/node_modules
/pruebas/test/node_modules
/pruebas/testing2/node_modules
/pruebas/testing3/node_modules

/schematics-jest/node_modules

/test-schematics/proj1/node_modules
/test-schematics/proj2/node_modules