<p class="modal-tittle">Importante</p>
<mat-divider></mat-divider>
<br>
<mat-dialog-content class="mat-typography">
  <div class="text-out-of-service">
    <p>
      Ha vencido el plazo para presentar una solicitud de retiro de hasta S/2,000, para los grupos del 1 al 4, conforme a lo señalado en los Decretos de Urgencia N° 034-2020 y 038-2020.
    </p>
    <p>
      En los próximos días, conforme se reciba la información del Ministerio de Trabajo y Promoción del Empleo, podrán ingresar su solicitud de retiro de hasta S/2,000 los afiliados que cuenten con una Solicitud de Suspensión Perfecta aprobada.
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    type="button"
    class="primary-btn"
    mat-raised-button
    (click)="exit()"
    color="primary"
    [autofocus]="false"
    tabindex="-1"
  >Volver</button>
</mat-dialog-actions>
