extend componentes/plantilla.pug
block contenidos
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 #{titulos[0]}
				p
					| Lorem ipsum dolor sit amet consectetur, 
					| adipisicing elit. Totam, reiciendis vel 
					| eveniet libero, doloribus fugiat et asperiores 
					| dicta obcaecati repellendus mollitia temporibus 
					| rerum, ipsam sit dolores at nesciunt porro 
					| veniam! Eius eligendi mollitia culpa.
					span Eius eligendi mollitia culpa.
				a.boton Leer más
		main.contenido
			+caja('imagen.png',titulos[1],'Lorem ipsum dolor sit amet consectetur adipisicing elit.')
			+caja('imagen.png',titulos[2],'Lorem ipsum dolor sit amet consectetur adipisicing elit.')
			+caja('imagen.png',titulos[3],'Lorem ipsum dolor sit amet consectetur adipisicing elit.')